@model WebApplication1.Models.BlogPost


@{
    ViewBag.Title = "Details";
}
<section>
    <div class="container">
        <!-- Page Content -->
        <div class="content-first">
            <div class="row">
                <div class="row">
                    <div class="col-md-11">

                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
                <!-- Blog Post Content Column -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Blog Post -->
                            <!-- Title -->
                            <h2>@Html.DisplayFor(model => model.Title)</h2>
                            <!-- Author -->
                            <p class="lead">
                                by <a href="#">Allan Clark</a>
                            </p>
                            
                            <!-- Date/Time -->
                            <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(model => model.Created)</p>
                            
                            <!-- Preview Image -->

                            <hr>
                            <!-- Post Content -->
                            <p class="lead">@Html.Raw(Model.Body)</p>

                            <hr>
                        </div>
                        <div class="col-md-4">
                            @if (Model.MediaURL != null)
                            {
                                <img class="img-responsive" src="@Model.MediaURL" alt="" />
                            }
                        </div>
                    </div>

                    <!-- Blog Comments -->
                    <!-- Comments Form -->
                    <div class="well">
                        <h4>Leave a Comment:</h4>
                        @using (Html.BeginForm("AddComment", "BlogPosts"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" name="PostID" value="@Model.Id" />
                            <input type="hidden" name="Slug" value="@Model.Slug" />
                            <div class="form-group">
                                <textarea class="form-control" name="Body" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                        @*<form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>*@
                    </div>
                    
                    <!-- Posted Comments -->

                    @foreach (var comment in Model.Comments)
                    {
                    <!-- Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @comment.Author.DisplayName
                                    <small>@comment.Created</small>
                                </h4>
                                @comment.Body
                            </div>
                            <div>
                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                {

                                    <a href="" data-toggle="modal" data-target="#delete-modal" class="btn btn-primary del" data-comment-id="@comment.ID">Delete</a>
                                    <a href="" data-toggle="modal" data-target="#edit-modal" class="btn btn-primary edit" data-comment-id="@comment.ID" data-comment-body="@comment.Body">Edit</a>
                                }
                            </div>
                        </div>
                    }
                </div>
                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">
                    <!-- Blog Search Well -->
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Blog Search</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.input-group -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <hr>
        </div>
        <!-- /.container -->
    </div>

    <!--Delete comment modal-->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            Are you sure you want to delete this comment?
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteComment", "BlogPosts"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ID" id="delete-id" value="" />
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <!--Edit comment modal-->
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        @using (Html.BeginForm("EditComment", "BlogPosts"))
        {
            @Html.AntiForgeryToken()
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="Body" rows="3" id="edit-text" value=""></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="ID" id="edit-id" value="" />
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


@section scripts {
    <script>
        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var commentId = button.data('comment-id') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            //modal.find('form');
            //alert(commentId);
            $('#delete-id').val(commentId);


        })

        $('#edit-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var commentId = button.data('comment-id') // Extract info from data-* attributes
            var text = button.data('comment-body')
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)

            $('#edit-text').val(text);
            $('#edit-id').val(commentId);


        })
    </script>

}