@model WebApplication1.Models.BlogPost

@{
    ViewBag.Title = "Edit";
}
<section>
    <div class="content-first">


        <form action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
        
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <center><h4>@Html.DisplayFor(model => model.Title)</h4></center>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-10">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Title)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", rows = "5", id = "editor" })
                                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MediaURL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input name="image" type="file" class="form-control" id="fileUpload" />

                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save Changes" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
</div>
</section>

    @section Scripts {
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#editor").tinymce({});
            });
        </script>
    }
